NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_CONTACT_LINK=https://t.me/alyxmp4
NEXT_PUBLIC_REPO_LINK=https://github.com/alyxdev/crashed.nis
NEXT_PUBLIC_DONATE_LINK=https://www.donationalerts.com/r/alyxmp4
RUNTIME=node
